.choose-cube-page {
  height: 100%;
  display: flex;
  padding: 20px 0;
  flex-direction: column;

  &__subtitle {
    margin-bottom: 30px;
  }

  &__cube {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    &_action {
      cursor: pointer;

      &:hover {
        background: var(--bs-light);
      }
    }
  }

  &__cubes {
    height: 100%;
  }

  &__cube-img {
    width: 128px;
    height: 128px;
    margin-bottom: 10px;
  }
}
